/*
 * This is is imported by virtue of "sass.var" in "app.json".
 * latihan ke3 mengubah CSS
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#008000, 10%);
$background-color: lighten(#E6E6FA, 10%);
$font-family: dynamic(berlin sans FB);
$checkboxfield-checkbox-color: lighten(red, 30%);
